/* font-family: 'Alfa Slab One', cursive; */

footer{
    background-color: rgb(215, 206, 206);
}

h1,
h2{
    font-family: 'Alfa Slab One', cursive;
    margin-top: 80px;
}

.hero {
    background: url(img/industrial2.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 500px;   
    color: 	white;
    margin-top: 95px;
 }

 h5{
    font-size: larger;
    color: whitesmoke;
    text-align: center;
    box-shadow: 30px;
    text-shadow: 30px;
    scrollbar-shadow-color: aliceblue;
 }

 .card-bodyQuienes {
    margin-top: 30px;
    background-color: rgb(183, 182, 182);
    /*background-color: #252628;*/
    text-decoration-color: white;
    background: white;
    margin-left: 0px;
    margin-right: 0px;
    color: black;
    image-orientation: from-image;
    
 }

 h4 {
    color: black;
 }

 p {
    color: whitesmoke;
    text-align: justify;
    margin-top: 30px;
 }


 /*ESTILOS DE VALORES*/

 .card-titleValores {
    color: whitesmoke;
    /*font-family: 'Alfa Slab One', cursive;*/
    box-shadow: 20px;
    margin-top: 20px;
    margin-left: 130px;
 }
 
 .card-textValores {
    color: whitesmoke;

 }
 .card-body {
    background: #252728;
 }

.card {
    border-color: #369A8E;
} 
 .card-group{
    background-color: #7a888f;
    border-radius: 10px;
    border-top: 20px;
    background: #252728;
    border-color: #369A8E;
    border-top: 100px;
 }
/*FIN DE ESTILOS DE VALORES*/

/*INICIO DE ALIADOS*/
.titulo-carousel {
    color: #252728;
    font-family: 'Alfa Slab One', cursive;
    box-shadow: 20px;
    margin-top: 50px;
    margin-left: 310px;
}

.carousel-caption {
      color: black;
 }



 




 

 